#root {
  background: linear-gradient(
    -45deg,
    #fff calc(50% - 1px),
    #ddd calc(50%),
    #fff calc(50% + 1px)
  );
  background-size: 6px 5px;
  min-height: 100vh;
}

.font-sm {
  font-size: 13px;
}

.font-lg {
  font-size: 19px;
}

.font-xl {
  font-size: 24px;
}
