.rendered-message {
  position: relative;

  .switch-markdown {
    display: none;
    position: absolute;
    z-index: 9999;
    top: -8px;
    right: 2px;
    opacity: 0.7;

    input {
      display: none;
    }

    label {
      font-size: 133.33%;
    }
  }

  &:hover, .message:active {
    .switch-markdown {
      display: block;
    }
  }

  p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
